* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;

  @media (min-width: 1024px) {
    overflow-y: hidden;
  }
}

header {
  padding-block: 48px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    @media (min-width: 600px) {
      width: 512px;
    }

    @media (min-width: 1024px) {
      width: 688px;
    }
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 36px;
}
